<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

HELLO
<h1>Rate_list</h1>
<table>
<tr><th>ID</th><th>Buy</th><th>Sale</th></tr> <!--ряд с ячейками заголовков-->


{% for rate in objects %}
    <tr><td>{{ rate.id }}</td><td>{{ rate.buy }}</td><td>{{ rate.sale }}</td></tr> <!--ряд с ячейками тела таблицы-->

{#    <p>#}
{#        ID: {{ rate.id }}#}
{#        Buy: {{ rate.buy }}#}
{#        Sale: {{ rate.sale }}#}
{#    </p>#}

{% endfor %}
</table>

</body>
</html>